@font-face {
  font-family: 'Rasputin';
  src: url('/fonts/Rasputin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rasputin', serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
}